@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ecf0f1;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  width: calc(100vw);
  overflow-x: hidden;
}

button,
a {
  display: inline-block;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

button:hover,
a:hover {
  text-decoration: underline;
}

.material-symbols-outlined {
  font-size: inherit;
  line-height: inherit;
  display: inline-flex;
  vertical-align: top;
}

:focus {
  @apply focus:border-gray-900 focus:border-2 !outline-none
}

/* :focus-visible {
  @apply !outline-none
} */

@layer components {
  .react-select-container .react-select__control {
    @apply flex bg-gray-50 border-2 border-gray-300 hover:border-gray-300 focus:border-2 text-gray-900 text-sm rounded-lg w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  }

  .react-select-container.error .react-select__control {
    @apply border-red-500
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-2 border-gray-900 hover:border-gray-900 shadow-none;
  }

  .react-select-container.error .react-select__control--is-focused {
    @apply border-2 border-red-500 hover:border-red-500 shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .react-select-container .react-select__option {
    @apply text-gray-600 dark:text-gray-200 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800;
  }
  .react-select-container .react-select__option--is-focused {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  .react-select-container .react-select__indicator-separator {
    @apply bg-gray-400;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-gray-600 dark:text-gray-200;
  }
}
